@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply h-full bg-gray-900 text-gray-50;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-eco-600 rounded-full hover:bg-eco-500;
}

/* p5.js specific styling */
canvas {
  display: block;
}
